*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;

  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
    block-size: 100%;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

ul li {
    list-style: none;
}
button {
    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
}
